<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienestar</title>
    <script src="../resources/js/fontawesome.js"></script>
    <link rel="stylesheet" href="../resources/css/fontawesome-all.css">
    <script src="../resources/js/popper.min.js"></script>
    <script src="../resources/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
</head>

<body>
<header id="menu" class="navbar"
        style="background: url(../resources/img/ed.png); width: 1700px; height: 223px; backface-visibility: initial">
    </br>

    <div class="col-md-12 row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            </br>
            </br>
            <img align="center" class="" src="../resources/img/nombrebien.png" height="40" width="900"/>

        </div>
        <div class="col-md-2">
            <img align="rigth" class="" src="../resources/img/EscudoUsta.png" height="120" width="120"/>

        </div>
    </div>
    <div class="container col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-8">

            <nav class="navbar ">
                <ul class="nav nav-tabs col-md ">

                    <li class="nav-item col-md-1.5">
                        <a class="nav-link  " href="inicio.html"><h3 style="color: #1b1e21"> Inicio </h3></a>
                    </li>
                    <li class="nav-item  col-md-2.5">
                        <a class="nav-link" href="Inventario.html"><h3 style="color: #1b1e21"> Inventario </h3>
                        </a>
                    </li>
                    <li class="nav-item  col-md-2.5">
                        <a class="nav-link" href="prestamos.html"><h3 style="color: #1b1e21">Prestamo</h3></a>
                    </li>
                    <li class="nav-item col-md-2.2">
                        <a class="nav-link" href="sanciones.html"><h3 style="color: #1b1e21">Sanciones</h3></a>
                    </li>
                    <li class="nav-item col-md-3.3">
                        <a class="nav-link" href="camposDeportivos.html"><h3 style="color: #1b1e21">
                            Campos Deportivos</h3></a>
                    </li>
                </ul>
            </nav>

        </div>


    </div>


</header>
<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #ffc107 ">
</div>

</br>
</br>

<div>
    <h1 align="center" class="col-md-4"> Campos Deportivos</h1>
</div>
</br>
<div class="container col-md-12">
    <div class="col-md-5">
    </div>

    <div class="row col-md-7">
        <img align="" class="col-xl-12" src="../resources/img/Editar.png" height="65" width="300"/>
    </div>
</div>

</br>
</br>
</br>
<div class="container-fluid">
    <div class="col-md-12 justify-content-sm-start row">
        <div align="center" class="col-md-12 row">
            <h4 class="col-md-5 "></h4>
            <h4 class="col-md-1 ">Nombre :</h4>
            <h4 class="col-md-3 ">Cancha de Futbol</h4>
            <h4 class="col-md-2 "></h4>
        </div>
        </br>
        </br>
        </br>
        </br>
        <div class="col-md-12 row">
            <h4 class="col-md-5 "></h4>
            <h4 class="col-md-2 ">Caracteristica:</h4>
            <h4 class="col-md-3 ">Canchas en malla buen estado</h4>
            <h4 class="col-md-2 "></h4>
        </div>
        </br>
        </br>
        </br>
        </br>
        <div class="col-md-12 row">

            <h4 class="col-md-5"></h4>
            <h4 class="col-md-2"> Estado:</h4>
            <div class="form-check  col-md-1">
                <input class="form-check-input position-static" type="checkbox" name="exampleRadios" id="exampleRadios1"
                       value="ocupado">
                <label class="form-check-label " for="exampleRadios1">
                    <h4>Ocupado</h4>
                </label>
            </div>
            <div class="form-check  col-md-2">
                <input class="form-check-input position-static" type="checkbox" name="exampleRadios" id="exampleRadios2"
                       value="desocupado">
                <label class="form-check-label" for="exampleRadios2">
                    <h4> Desocupado</h4>
                </label>
            </div>
            <h4 class="col-md-2 "></h4>


        </div>
        </br>
        </br>
        </br>
        </br>
        <div class="col-md-12 row">
            <h4 class="col-md-6"></h4>
            <a href="#" type="submit"
               style="border-radius: 50px;  background-color: #004085; color: #f8f9fa;width: 150px "
               class="btn col-md-1">Guardar</a>
            <h4 class="col-md"></h4>
            <a href="#" type="submit"
               style="border-radius: 50px;  background-color: #004085; color: #f8f9fa;width: 150px "
               class="btn col-md-1 ">Cancelar</a>
            <h4 class="col-md-3 "></h4>
        </div>


    </div>

</div>


</br>
</br>
</br>
</br>
<footer class="bd-footer text-muted" style="background-color: #0D5081">
    <div class="container-fluid col-md-6">
        <div class="col-md-12">
            <img class="navbar-brand" src="../resources/img/logo-usta.png" width="700px" height="200px"/>
        </div>

    </div>
    <div class="container-fluid col-md-6">
        <div align="center" style="color: #f8f9fa;">Universidad Santo Tomás Seccional Tunja © 2019</div>
        <div align="center" style="color: #f8f9fa;"> Creadores: Fabián Danilo Rodriguez Ochoa, Edgar Santiago Jimenez
            Ortega, Nicolle Vanessa Saavedra Daza
        </div>
        <div align="center" style="color: #f8f9fa;"> Juan Sebastian Ulloa Parra, Daniel Alejandro Ruiz Sanchez, Mario
            Daniel Murcia Pinilla
        </div>
    </div>
    </br>
    </br>


</footer>

</body>
</html>