<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>

</head>
<link rel="stylesheet" href="../resources/css/all.css">
<link rel="stylesheet" href="../resources/css/bootstrap.min.css">
<script src="../resources/js/all.js"></script>
<script src="../resources/js/bootstrap.min.js"></script>
<script src="../resources/js/jquery-3.3.1.slim.min.js"></script>
<script src="../resources/js/popper.min.js"></script>


<body>
<nav>
    <div class="container col-xl" style="background-color:  #005cbf">
        <div class="row">
            <div class=""></div>
            <div class="col-1">
                </br>
                <img src="../resources/img/EscudoUsta.png" height="100" width="100"/>


            </div>
            <div class="col-6">
                </br>
                </br>
                <h1 style="background-color: #f8f9fa">Bienestar Univeritario</h1>
            </div>
        </div>
        </br>
    </div>
    <div class="container col-lg"  style="border: #1b1e21; background-color: #ffc107" >
        <div> </br></div>
    </div>

</nav>



</body>


</html>