


<script src="../resources/js/fontawesome.js"></script>
<link rel="stylesheet" href="../resources/css/fontawesome-all.css">
<script src="../resources/js/popper.min.js"></script>
<script src="../resources/js/jquery-3.3.1.slim.min.js"></script>
<script src="../resources/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../resources/css/styles.css">
<link rel="stylesheet" href="../resources/css/bootstrap.min.css">



<header  id="menu" class="navbar"style="background: url(../resources/img/ed.png); width: 1700px; height: 223px; backface-visibility: initial">
</br>
   <div class="container">
    <div class="row align-items-start col-xl-1">
      </div>
    <div class="row align-items-end col-xl-11">
        <div class="col-xl-9">
            <nav class="navbar col-xl-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item col-xl-2">
                        <a class="nav-link  " href="#"><h5 style="color: #1b1e21">Inicio</h5></a>
                    </li>
                    <li class="nav-item  col-xl-2">
                        <a class="nav-link" href="#"><h5 style="color: #1b1e21">Registro</h5></a>
                    </li>
                    <li class="nav-item col-xl-3">
                        <a class="nav-link" href="#"><h5 style="color: #1b1e21">Sanciones</h5></a>
                    </li>
                    <li class="nav-item col-xl-5">
                        <a class="nav-link" href="#"><h5 style="color: #1b1e21">Campos Deportivos</h5></a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-xl-2">
            <a class="nav-link" href="#"><h2 style="color: #1b1e21">Usuario</h2></a>
        </div>
        <div class="col-xl-1">
            </br>
            </br>
            </br>
            <img style="border-radius: 20px" src="../resources/img/icono-de-perfil-de-usuario.jpg" height="100" width="100"/>


        </div>

    </div>

</div>


</header>
<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #ffc107 ">
</div>
