<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>

</head>
<link rel="stylesheet" href="../resources/css/all.css">
<link rel="stylesheet" href="../resources/css/bootstrap.min.css">
<script src="../resources/js/all.js"></script>
<script src="../resources/js/bootstrap.min.js"></script>
<script src="../resources/js/jquery-3.3.1.slim.min.js"></script>
<script src="../resources/js/popper.min.js"></script>


<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #0069d9">

    <div class="container row col-xl navbar-nav-scroll">
       <div class="col-xl-1 align-content-center">
            <img class="navbar-brand mr-1 mr-md-3" src="../resources/img/EscudoUsta.png" height="130" width="110"/>
        </div>

          <div class=" row  col-xl-11 "   style="background-color: #f8f9fa;">
           <div class="col-xl-1.5">
               <h1 style=" color: #6c757d ">BIENESTAR </h1>
           </div>
              <div class="col-xl">

                  <h1 style="color: #005cbf">UNIVERSITARIO</h1>

               </div>
            </div>

    </div>
</header>
<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #ffc107 ">

</div>

<div class="container-fluid col">
    </br>
    <div align="center" >
        <img style="border-radius: 100px "  src="../resources/img/promocion-y-bienestar-17png.png" height="300" width="1450"/>
    </div>

</div>
</br>
<div class="container">
<div class=" row">
    <div class=" col " >
        <img align="left" style="border-radius: 100px" src="../resources/img/69707741_2645632175467733_6005637909409955840_o.jpg" height="333" width="450"/>
    </div>
    <div class=" col-xl" align="rigth" >
       </br>
       </br>
        <form action="view3.html">
            <div class="form-group">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

            </div>
            <div class="form-group">

                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <h4 id="emailHelp" href="#" class="form-text text-muted">¿olvido su contraseña?</h4>

            <button type="submit" class="btn btn-primary">Acceder</button>
        </form>

    </div>

</div>
</div>
</br>
</br>



<footer class="bd-footer text-muted" style="background-color: #0069d9">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3 style="color: #f8f9fa">Universidad Santo Tomas</h3>
                </br>

                <h3 style="color: #f8f9fa">Facultad Ingeneria de Sistemas </h3>

                </br>
                </br>
                <h5 style="color: #f8f9fa"> Derechos Reservados © 2019</h5>


            </div>
            <div class="col-6">
                <h5 style="color: #f8f9fa"> Fabian Rodriguez </h5>
                <h5 style="color: #f8f9fa"> Nicolle Vanessa Saavedra </h5>
                <h5 style="color: #f8f9fa"> Mario Murcia </h5>
                <h5 style="color: #f8f9fa"> Daniel </h5>
                <h5 style="color: #f8f9fa"> Sebastian Ulloa </h5>
                <h5 style="color: #f8f9fa">V 1.0</h5>

            </div>
        </div>
    </div>

</footer>


</body>


</html>