<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienestar</title>
    <script src="../resources/js/fontawesome.js"></script>
    <link rel="stylesheet" href="../resources/css/fontawesome-all.css">
    <script src="../resources/js/popper.min.js"></script>
    <script src="../resources/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
</head>

<body>
<header id="menu" class="navbar"
        style="background: url(../resources/img/ed.png); width: 1700px; height: 223px; backface-visibility: initial">
    </br>
    <div class="container">
        <div class="row align-items-start col-xl-1">
        </div>
        <div class="row align-items-end col-xl-11">
            <div class="col-xl-9">
                <nav class="navbar col-xl-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item col-xl-2">
                            <a class="nav-link  " href="#"><h5 style="color: #1b1e21">Inicio</h5></a>
                        </li>
                        <li class="nav-item  col-xl-2">
                            <a class="nav-link" href="#"><h5 style="color: #1b1e21">Registro</h5></a>
                        </li>
                        <li class="nav-item  col-xl-2">
                            <a class="nav-link" href="#"><h5 style="color: #1b1e21">Prestamo</h5></a>
                        </li>

                        <li class="nav-item col-xl-2">
                            <a class="nav-link" href="#"><h5 style="color: #1b1e21">Sanciones</h5></a>
                        </li>
                        <li class="nav-item col-xl-4">
                            <a class="nav-link" href="#"><h5 style="color: #1b1e21">C.Deportivos</h5></a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="col-xl-2">
                <a class="nav-link" href="#"><h2 style="color: #1b1e21">Usuario</h2></a>
            </div>
            <div class="col-xl-1">
                </br>
                </br>
                </br>
                <img style="border-radius: 20px" src="../resources/img/icono-de-perfil-de-usuario.jpg" height="100"
                     width="100"/>


            </div>

        </div>

    </div>


</header>
<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #ffc107 ">
</div>

</br>
</br>

<div>
    <h1 align="center" class="col-xl-6"> Préstamos</h1>
</div>
</br>
<div class="container">
    <div class="row">
        <div class="col-xl-4" align="center"><h2>Nuevo</h2></div>
        <div class="col-xl-4" align="center"><h2>Editar</h2></div>
        <div class="col-xl-4 row" align="center">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="col-xl-12 justify-content-sm-start row">
    <div  class="col-xl-3">
            </br>

        <img align="rigth" class="col-xl-12" src="../resources/img/6bd09ebb69527be30772b6e4b4a81d6f_S.jpg" height="400" width="230"/>

    </div>

    <div  align="center" class="col-xl-9 justify-content-sm-end">
        </br>
        </br>
        </br>
        <table  class="table col-xl-10">
            <thead class="table-bordered table-active">
            <tr>
                <th scope="col-1"> </th>
                <th scope="col-2">Nombre </br>Apellidos</th>
                <th scope="col-2">Fecha Inicio</th>
                <th scope="col-2">Fecha Entrega</th>
                <th scope="col-1">Facultad</th>
                <th scope="col-2">Prestamo</th>
                <th scope="col-2">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><input  class="form-check-input col-xl-1" type="checkbox" value="o"></th>
                <td>111111</td>
                <td>Otto</td>
                <td>********</td>
                <td>ocupado</td>
                <td>ocupado</td>
                <td>ocupado</td>
            </tr>
            <tr>
                <th scope="row"><input class="form-check-input col-xl-1" type="checkbox" value="o"></th>
                <td>111111</td>
                <td>Otto</td>
                <td>********</td>
                <td>********</td>
                <td>********</td>
                <td>ocupado</td>
            </tr>
            <tr>
                <th scope="row"><input class="form-check-input col-xl-1" type="checkbox" value="o"></th>
                <td>111111</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>********</td>
                <td>ocupado</td>
            </tr>
            <tr>
                <th scope="row"><input class="form-check-input col-xl-1" type="checkbox" value="o"></th>
                <td>111111</td>
                <td>Otto</td>
                <td>********</td>
                <td>ocupado</td>
                <td>ocupado</td>
                <td>ocupado</td>
            </tr>
            </tbody>
        </table>


    </div>


</div>

</div>
<div align="center" class="col-xl-2">
    </br>
    <div  class="alert alert-primary col-xl-10" role="alert">
        <h5>------------</h5>
        <h5>--------------------</h5>
        <h5>------------</h5>
        <h5>------------</h5>
        <h5>------------</h5>
        <h5>------------</h5>

    </div>
</div>

</br>
</br>

<footer class="bd-footer text-muted" style="background-color: #0069d9">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h3 style="color: #f8f9fa">Universidad Santo Tomas</h3>
                </br>

                <h3 style="color: #f8f9fa">Facultad Ingeneria de Sistemas </h3>

                </br>
                </br>
                <h5 style="color: #f8f9fa"> Derechos Reservados © 2019</h5>


            </div>
            <div class="col-6">
                <h5 style="color: #f8f9fa"> Fabian Rodriguez </h5>
                <h5 style="color: #f8f9fa"> Nicolle Vanessa Saavedra </h5>
                <h5 style="color: #f8f9fa"> Mario Murcia </h5>
                <h5 style="color: #f8f9fa"> Daniel </h5>
                <h5 style="color: #f8f9fa"> Sebastian Ulloa </h5>
                <h5 style="color: #f8f9fa">V 1.0</h5>

            </div>
        </div>
    </div>

</footer>
</body>
</html>